<!DOCTYPE html>
<html>
<head>
    <title>Registration Confirmation</title>
</head>
<body>
    <h1>Registration Confirmation</h1>
    <p>Dear {{ username }},</p>
    <p>Thank you for registering at our website. We look forward to having you as a member of our community!</p>
    <p>Login here: <a href="https://hr-manager-bc.herokuapp.com/login/">HR System v2.0</a></p>
    <p>Here are your login credentials:</p>
    <ul>
        <li>Username: {{ username }}</li>
        <li>Password: {{ password }}</li>
    </ul>
    <p>Best regards,</p>
    <p>The HR System Team</p>
</body>
</html>
