{% extends 'base.html' %}

{% block content %}
  <div class="profile">
    <h2>Edit Profile</h2>
    <form method="post" action="{% url 'profiles:edit_profile' %}" enctype="multipart/form-data">
      {% csrf_token %}
      <label for="phone_number">Phone Number:</label>
      <input type="text" name="phone_number" value="{{ profile.phone_number }}" required><br>
      <label for="email">Email:</label>
      <input type="email" name="email" value="{{ profile.user.email }}" required><br>
      <label for="password">Password:</label>
      <input type="password" name="password" required><br>
      <label for="confirm_password">Confirm Password:</label>
      <input type="password" name="confirm_password" required><br>
      <label for="profile_image">Profile Image:</label>
      <input type="file" name="profile_image"><br>
      <button type="submit">Save Changes</button>
    </form>
  </div>
{% endblock %}
