{% extends 'demo_dashboard.html' %}

{% block content %}
{% load static %}
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.7/index.global.min.js"></script>

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Your Profile</h1>
</div>

<div class="row">

  <!-- WorkId -->
  <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
              <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                          WorkId</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ profile.work_id }}</div>
                  </div>
                  <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- NextShift -->
<div class="col-xl-3 col-md-6 mb-4">
  <div class="card border-left-success shadow h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">
          <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
            Your Next shift
          </div>
          {% if next_workshift %}
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ next_workshift.event }}</div>
          {% else %}
            <div class="text-muted">No upcoming work shift</div>
          {% endif %}
        </div>
        <div class="col-auto">
          <i class="fa-solid fa-handcuffs fa-2x text-gray-300"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- NextShiftDate -->
<div class="col-xl-3 col-md-6 mb-4">
  <div class="card border-left-info shadow h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col mr-2">
          <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Next Work Date</div>
          <div class="h5 mb-0 font-weight-bold text-gray-800">
            {% if next_workshift %}
              {{ next_workshift.start_time|date:"d F, Y" }}
            {% else %}
              No upcoming work date
            {% endif %}
          </div>
        </div>
        <div class="col-auto">
          <i class="fas fa-calendar-alt fa-2x text-gray-300"></i>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- WorkTitle -->
  <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
          <div class="card-body">
              <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                          Your work title</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ profile.work_title }}</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ profile.ov_id }}</div>
                  </div>
                  <div class="col-auto">
                      <i class="fas fa-comments fa-2x text-gray-300"></i>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


<!-- Profile -->
<div class="card shadow mb-4">
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold text-primary">Profile details</h6>
    <div class="dropdown no-arrow">
      <a href="{% url 'profiles:edit_profile' %}" class="btn btn-primary btn-icon-split">
        <span class="icon text-white-50">
          <i class="fas fa-edit"></i>
        </span>
        <span class="text">Edit Profile</span>
      </a>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <dl class="row">
          <dt class="col-sm-4 text-right"><strong>Username:</strong></dt>
          <dd class="col-sm-8">{{ profile.user.username }}</dd>

          <dt class="col-sm-4 text-right"><strong>First Name:</strong></dt>
          <dd class="col-sm-8">{{ profile.user.first_name }}</dd>

          <dt class="col-sm-4 text-right"><strong>Last Name:</strong></dt>
          <dd class="col-sm-8">{{ profile.user.last_name }}</dd>

          <dt class="col-sm-4 text-right"><strong>Email:</strong></dt>
          <dd class="col-sm-8">{{ profile.user.email }}</dd>

          <dt class="col-sm-4 text-right"><strong>Phone Number:</strong></dt>
          <dd class="col-sm-8">{{ profile.phone_number }}</dd>

          <dt class="col-sm-4 text-right"><strong>Address:</strong></dt>
          <dd class="col-sm-8">{{ profile.address }}</dd>

          <dt class="col-sm-4 text-right"><strong>About Me:</strong></dt>
          <dd class="col-sm-8">{{ profile.about_me }}</dd>
        </dl>
      </div>      
      <div class="col-md-6">
        <div class="text-center">
          {% if profile.profile_image %}
            <img class="rounded-circle img-fluid px-3 px-sm-4 mt-3 mb-4" style="max-width: 200px;" src="{{ profile.profile_image.url }}" alt="Profile Image">
          {% else %}
            <img class="rounded-circle img-fluid px-3 px-sm-4 mt-3 mb-4" style="max-width: 200px;" src="{% static 'profile_image.jpeg' %}" alt="Default Profile Image">
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>


<div class="card-body">
  <div class="calendar-heading text-center">
    <h2 class="mb-4">Your Calendar</h2>
  </div>
  <div class="calendar-container">
    <div id="profile_calendar"></div>
  </div>
</div>
<hr>
<br>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('profile_calendar');
    var calendarContainer = document.querySelector('.calendar-container');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      headerToolbar: {
        left: 'prev,next today',
        center: 'title',
        right: window.innerWidth < 550 ? 'listWeek' : 'dayGridMonth,timeGridWeek,timeGridDay,listWeek' // Show only 'listWeek' on smaller screens
      },
      initialView: 'dayGridMonth',
      navLinks: true, // can click day/week names to navigate views
      editable: false,
      dayMaxEvents: true, // allow "more" link when too many events
      events: [
        {% for booked_workshift in profile.booked_workshifts.all %}
          {
            title: '{{ booked_workshift.event }}',
            start: new Date('{{ booked_workshift.start_time|date:"Y-m-d\TH:i:s" }}'),
            end: new Date('{{ booked_workshift.end_time|date:"Y-m-d\TH:i:s" }}'),
            color: '#0da146' // change the event color here
          }{% if not forloop.last %},{% endif %}
        {% endfor %}
      ],
      eventClick: function(info) {
        var event = info.event;
        var title = event.title;
        var startTime = event.start;
        var endTime = event.end;

        var eventDetails = 'Event: ' + title + '\n';
        eventDetails += 'Start Time: ' + formatTime(startTime) + '\n';
        eventDetails += 'End Time: ' + formatTime(endTime);

        alert(eventDetails);
        // You can customize how the event details are displayed or perform other actions with the event data
      },
      // Adjust calendar height for mobile screens
      viewDidMount: function() {
        var calendarContainerTop = calendarContainer.getBoundingClientRect().top;
        var calendarContainerHeight = window.innerHeight - calendarContainerTop;
        calendarContainer.style.height = calendarContainerHeight + 'px';
      },
      // Set the time format to 24-hour format without leading zeros
      eventTimeFormat: {
        hour: 'numeric',
        minute: 'numeric',
        hour12: false
      },
      slotLabelFormat: {
        hour: 'numeric',
        minute: 'numeric',
        hour12: false
      }
    });

    calendar.render();

    // Format time without leading zeros
    function formatTime(time) {
      return time.toLocaleTimeString('en-US', {
        hour: 'numeric',
        minute: 'numeric',
        hour12: false
      });
    }
  });
</script>

  <style>
    .container {
      margin-top: 50px;
    }

    .card {
      border: 1px solid #ddd;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .card-body {
      padding: 20px;
    }

    .card-title {
      font-size: 24px;
      margin-bottom: 20px;
    }

    .card-text p {
      margin-bottom: 10px;
    }

    .btn-primary {
      background-color: #007bff;
      color: #fff;
    }

    .btn-primary:hover {
      background-color: #0056b3;
    }

    .calendar-heading {
  margin: 40px 0px;
  text-align: center;
  color: #3c4b64; /* Dark blue color */
  font-size: 2em;
  font-weight: bold;
}

#profile_calendar {
  max-width: 900px; /* Adjust the width as needed */
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  background-color: #ffffff; /* White background */
}

.footer {
  position:static;
  left: 0;
  bottom: 0;
  width: 100%;
}
  </style>

{% endblock %}
