{% extends 'base.html' %}

{% block content %}
  <h1>Work Shift Details</h1>
  <h2>{{ workshift.name }}</h2>
  <p>Start Time: {{ workshift.start_time }}</p>
  <p>End Time: {{ workshift.end_time }}</p>
  <p>Role: {{ workshift.role }}</p>
  
  {% if workshift.is_booked %}
    <p>This shift is booked now!</p>
  {% else %}
    <form method="POST" action="{% url 'scheduling:book_workshift' workshift_id=workshift.id %}">
      {% csrf_token %}
      <button type="submit" class="btn btn-primary">Book Shift</button>
    </form>
  {% endif %}
{% endblock %}
