{% extends 'base.html' %}

{% block content %}
  <div id="calendar"></div>
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.7/index.global.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');

      var calendar = new FullCalendar.Calendar(calendarEl, {
        events: [
          {% for shift in shifts %}
            {
              title: '{{ shift.name }}',
              start: '{{ shift.start_time|date:"Y-m-d" }}T{{ shift.start_time|time:"H:i:s" }}',
              end: '{{ shift.end_time|date:"Y-m-d" }}T{{ shift.end_time|time:"H:i:s" }}',
              url: '{% url 'scheduling:book_workshift' %}'  // Update the URL here
            },
          {% endfor %}
        ],
        eventClick: function(info) {
          window.location.href = info.event.url;
        },
        slotLabelFormat: {
          hour: '2-digit',
          minute: '2-digit',
          hour12: false
        }
      });

      calendar.render();
    });
  </script>
{% endblock %}
