{% extends 'base.html' %}

{% block content %}
    <!-- Email content goes here -->
    <h1>Workshift Booking Confirmation</h1>
    <p>You have successfully booked the following workshift:</p>
    <ul>
        <li>Name: {{ name }}</li>
        <li>Start Time: {{ start_time }}</li>
        <li>End Time: {{ end_time }}</li>
        <li>Role: {{ role }}</li>
    </ul>

    <!-- Add the EmailJS script tag -->
    <script src="https://cdn.emailjs.com/dist/email.min.js"></script>
    <script>
        (function () {
            emailjs.init('{{ CeN9P6eWOu8r1horW }}');
            const templateParams = {
                to_email: '{{ email }}',
                subject: 'Workshift Booking Confirmation',
                message: document.body.innerHTML,
            };
            emailjs.send('{{ service_ldpztt7 }}', '{{ template_nip32wo }}', templateParams, CeN9P6eWOu8r1horW);
        })();
    </script>
{% endblock %}
