<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>HR System - Login</title>

  <!-- Custom fonts for this template-->
  <link rel="stylesheet" href="{% static 'css/all_style.css' %}">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link rel="stylesheet" href="{% static 'css/admin_style.css' %}">
  <script src="{% static 'js/email.js' %}"></script>
  <script src="https://cdn.emailjs.net/sdk/2.6.4/email.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.8.0/main.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.8.0/main.min.js"></script>
  <script src="https://kit.fontawesome.com/1f28a44c72.js" crossorigin="anonymous"></script>

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center"
        href="{% url 'profiles:profile_detail' %}">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-user-friends"></i>
        </div>
        <div class="sidebar-brand-text mx-3">HR System <sup>v2.0</sup></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Heading -->
      <div class="sidebar-heading">
        Menu
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'profiles:profile_detail' %}">
          <i class="fas fa-fw fa-user"></i>
          <span>Profile</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'scheduling:work_shifts' %}">
          <i class="fas fa-fw fa-calendar"></i>
          <span>My Schedule</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'scheduling:book_workshift' %}">
          <i class="fas fa-fw fa-calendar-plus"></i>
          <span>Book Shifts</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'scheduling:calendar' %}">
          <i class="far fa-fw fa-calendar-alt"></i>
          <span>Calendar</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'news:news_feed' %}">
          <i class="fas fa-fw fa-newspaper"></i>
          <span>News</span>
        </a>
      </li>
      <!-- Divider -->
      <hr class="sidebar-divider">
      {% if user.is_superuser %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'admin:index' %}">
          <i class="fas fa-fw fa-user-shield"></i>
          <span>Adminpanel</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'profiles:links' %}">
          <i class="fas fa-fw fa-link"></i>
          <span>Links</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'profiles:employees' %}">
          <i class="fas fa-fw fa-users"></i>
          <span>Employees</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'scheduling:employees-calendar' %}">
          <i class="far fa-fw fa-calendar-alt"></i>
          <span>User Calendar</span>
        </a>
      </li>
      {% endif %}
      <!-- Divider -->
      <hr class="sidebar-divider">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'authentication:logout' %}">
          <i class="fas fa-fw fa-sign-out-alt"></i>
          <span>Logout</span>
        </a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}">
          <i class="fas fa-fw fa-home"></i>
          <span>Back to Home</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'authentication:register' %}">
          <i class="fas fa-fw fa-user-plus"></i>
          <span>Register</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'authentication:login' %}">
          <i class="fas fa-fw fa-sign-in-alt"></i>
          <span>Login</span>
        </a>
      </li>
      {% endif %}
      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>


          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                {% if user.is_authenticated %}
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">You are logged in as:
                  {{ profile.user.first_name }} {{ profile.user.last_name }}</span>
                <img class="img-profile rounded-circle" src="{% static 'profile_image.jpeg' %}">
                {% endif %}
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="{% url 'profiles:profile_detail' %}">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item" href="{% url 'profiles:edit_profile' %}">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Edit Profile
                </a>
                <a class="dropdown-item" href="{% url 'news:news_feed' %}">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  News
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'authentication:logout' %}">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <main class="container">
          {% block content %}
          {% endblock %}
        </main>

        <footer>
          <footer class="sticky-footer bg-white">
            <div class="container my-auto">
              <div class="copyright text-center my-auto">
                <span>
                  <p> HR Mangament, Created with <span class="heart">❤️</span> by <a href="https://github.com/bjorne90"
                      target="_blank">Björn Centio 2023</a></p>
                </span>
              </div>
            </div>
          </footer>
        </footer>

        <!-- Bootstrap core JavaScript-->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

        <!-- Core plugin JavaScript-->
        <script src="{% static 'js/jquery.easing.min.js' %}"></script>

        <!-- Custom scripts for all pages-->
        <script src="{% static 'js/admin.js' %}"></script>
</body>

</html>
